html{
    margin: 0;
    width: 100%;
}

body{
    margin: 0;
    /*background-color: #E1E1E1;*/
    background-image: url('img/rick-bg.jpg');
    background-blend-mode: soft-light;
    font-family: 'Cabin', sans-serif;;
}

h1, h2, h3, h4{
    font-family: 'Permanent Marker', cursive;
}

header{
    background-color: #F2AE49;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    padding: 0 8%;
}

nav ul{
    list-style: none;
}

.logo{
    padding-right: 20px ;
    height: auto;
    width: 300px;
}

footer{
    background-color: #B2B2B2;
    display: flex;
    justify-content: center;
}

footer p{
    padding: 20px 0;
}

article{
    background-color: rgba(255, 255, 255, 0.007);
    border: solid white 1px;
    padding: 10px 50px;
    border-radius: 5px;
    margin: 20px 0;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.glasseffect{
    background-color: rgba(255, 255, 255, 0.007);
    border: solid white 1px;
    padding: 10px 50px;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.text-center{
    text-align: center;
}

h1, p{
    padding: 10px 0;
}



.control{
    display: flex;
    justify-content: flex-start;
}

.control a img, .control img, .control{
    height: 50px;
    width: auto;
    padding: 20px;
}

.imageGallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.gallery{
    height: auto;
    width: auto;
    padding: 20px;
}

.score{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}
.borderScore{
    display: flex;
    justify-content: space-around;
    border: solid red 2px;
    width: 150px;
}

.chifoumi{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.gameItem{
    width: 300px;
    height: auto;
    padding: 50px;
}
.gameItem:hover{
    cursor: pointer;
    backdrop-filter: blur(5px);
}


.rick{
    width: 300px;
}

.append{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
    justify-content: space-around;
}
.col{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.fotorama{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* DROPDOWN MENU CSS */
.dropbtn{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Permanent Marker', cursive;

}

.rickbtn{
    width: 70px;
    height: auto;
}
.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content nav ul li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* FIN DU MENU DROPDOWN*/

form{
    display: flex;
    flex-direction: column;
}


/* FORMULAIRE CSS !!! */

form button{
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
}

form button:hover{
    background-color: #F2AE49;
}

form input{
    padding: 8px 0;
    margin: 10px 0;
    border-radius: 5px;
}

button:hover, .control:hover, .delete:hover{
    cursor:pointer;
}

.deletePosition{
    position: relative;
    overflow: hidden;
}

.delete{
    position:absolute;
    top:0;
    right: 0;
}

@media screen and (max-width: 600px) {
    .logo{
        padding-right: 20px ;
        height: auto;
        width: 150px;    
    }
  }

  @media screen and (max-width: 1200px) {
    .gallery{
        width: 30%;
        height: auto;
    }
  }

/*$.getJSON("https://api.mocki.io/v1/a95d1be0", function (response) {
*/

.memorick{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.frontface{
    width: 200px;
    height: 300px;
    position: relative;
    background-size: cover;
    cursor: pointer;
    
}
.backface{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
/*

.memory-card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.backface, .frontface {
    width: 340px;
    height: 450px;
    padding: 20px;
    border-radius: 5px;
    background: #1C7CCC;
  }

*/